build/
backup/
testprogram/build/
*.o
*.map
*.dis
*.spr
*.scr
*.jpg
*.scr
*.jpeg
*.png
build.sh
run.sh

src/*.py
tools/sprite_data.h.bas
tools/sprite_data.h
tools/buffer_editor.py
tools/*.bas
tools/*.h

# Host terminal build artifacts
host_side/
host_side/

# KickAssembler build artifacts
CustomBasicCommands/*.prg
CustomBasicCommands/*.sym
CustomBasicCommands/*.vs
CustomBasicCommands/*.dbg
CustomBasicCommands/ByteDump.txt

!.vscode/c_cpp_properties.json
!.vscode/cmake-kits.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
